<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Delete</title>
</head>
<body>
<a th:href="@{/}">Back</a>
<h1>Blog Delete</h1>
<form th:action="@{/blog-remove}" method="post" th:object="${blog}">
    <td><input type="hidden" th:field="*{id}"></td>
    <table>
        <tr>
            <td>#</td>
            <td th:text="${blog.id}"></td>
        </tr>
        <tr>
            <td>Title</td>
            <td th:text="${blog.title}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${blog.description}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="${blog.content}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td th:text="${blog.image}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>